{% extends "layout.html" %}
{% block title %} about us {% endblock %}
{% block body %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="../static/me.jpg" alt="..."></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">amir hossein hasani</h1>
                <p class="lead">Hello, this is my final project for CS50 and my goal is to introduce good books to each other and enjoy reading books together.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %} 