{% extends "layout.html" %}
{% block title %} book {% endblock %}
{% block body %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{book[4]}}" alt="..."></div>
            <div class="col-md-6">
                <div class="small mb-1">user:{{book[5]}}</div>
                <h1 class="display-5 fw-bolder">{{book[1]}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">Author :</span>
                    <span>{{book[2]}}</span>
                </div>
                <p class="lead">{{book[3]}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %} 